<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AVATAR</title>
    <link rel="stylesheet" href="../static/login.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
    </style>
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
</head>

<body>
    <h1>Avatar</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul style="color: red;">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <img src="/uploads/{{user_avatar}}" alt="User's avatar" id="avatar" style="width: 400px; height: 400px; border-radius: 50px;">
    <br>
    <hr>
    <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
        <!--de upload file thi can enctype-->

        <input type="file" name="avatar-image" id="avatar-input" accept="image/*">
        <input type="submit" value="Update">
    </form>
    <br>
    <hr>
    <span>Go back to <a href="/">Home</a></span>
    <script>
        const image = document.querySelector("#avatar");
        const input = document.querySelector("#avatar-input");

        input.addEventListener("change", (e) => {
            const selected_src = URL.createObjectURL(e.target.files[0]);
            image.src = selected_src;
        })
    </script>
</body>

</html>