<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
    <link rel="stylesheet" href="../static/login.css">
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
    </style>
    <link rel="icon" type="image/ico" href="../static/favicon.ico">
</head>

<body>
    <h1>Please input your information!</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul style="color: red;">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form action="/register" method="post">
        <label for="user">User</label>
        <input type="text" name="username" placeholder="admin" pattern="[A-Za-z0-9]{1,}" title="Valid input: A-Z a-z 0-9" required autofocus>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="123456" required>
        <br>
        <label for="password_confirm">Confirm password</label>
        <input type="password" name="password_confirm" placeholder="123456" required>
        <input type="submit" value="Register" id="nut">
    </form>
    <span>Already have an account? <a href="/login">Log In</a></span>
</body>

</html>